
.select-with-icon {
  background-image: var(--icon-chevron-down);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F6F7F8;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-dark);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) #F6F7F8;
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) #484b4e;
  }
}

